.navLinkItem {
  color: #071eb3;
  font-size: 14px;
  text-decoration: none;
}

.activeNavLinkItem {
  background-color: #071eb3;
  color: white;
  padding-top: 24px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 5px;
  transition: 0.2s;
}
.activeNavLinkItem:hover {
  color: #dee1f7;
}
