.Testimonials {
  .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 389px;
    height: 56px;
    padding: 8px 4px;
    background-color: #071eb3;
    color: white;
    text-align: center;
    margin-bottom: 88px;
  }

  .testimonialMargins {
    margin-top: 128px;
  }

  .sliderCard {
    width: 80vw;
    height: fit-content;
    padding: 32px;
    background-color: #ffffff;
  }

  .testimonialsButtons {
    position: relative;
    bottom: 15px;
    text-align: end;
  }
}
